<%= form_for(@weapons_in_tank) do |f| %>
  <% if @weapons_in_tank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weapons_in_tank.errors.count, "error") %> prohibited this weapons_in_tank from being saved:</h2>

      <ul>
      <% @weapons_in_tank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tank_id %><br>
    <%= f.number_field :tank_id %>
  </div>
  <div class="field">
    <%= f.label :weapon_id %><br>
    <%= f.number_field :weapon_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
