<%= form_for(@tank) do |f| %>
  <% if @tank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tank.errors.count, "error") %> prohibited this tank from being saved:</h2>

      <ul>
      <% @tank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inline">
  <div class="form-group">
    <label><%= f.label :name %><br></label>
    <input class="form-control" <%= f.text_field :name %></input>
  </div>
  
  <div class="form-group">
    <label><%= f.label :year %><br></label>
    <input class="form-control" <%= f.number_field :year %></input> 
  </div>
  <div class="field">
    <%= f.label :country_id %><br>
    <%= f.select :country_id, options_from_collection_for_select(@countries, :id, :name)%>
  </div>
  <div class="field">
    <%= f.label :type_id %><br>
    <%= f.select :type_id, options_from_collection_for_select(@types, :id, :name)%>
  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-primary" %>
  </div>
  </div>
<% end %>
