<p id="notice"><%= notice %></p>

<h1>Listing Tanks</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th>Country</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tanks.each do |tank| %>
      <tr>
        <td><%= link_to tank.name, tank %></td>
        <td><%= tank.year %></td>
        <td><%= @countries.find(tank.country_id).name %></td>
        <td><%= @types.find(tank.type_id).name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<% if current_user %>
<%= link_to 'New Tank', new_tank_path %>
<%else%>
<p>login to add new tanks</p>
<%end%>