<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p> ratings by <%= @user.name %>:

<table class= "table">
  <thead>
    <tr>
      <th>Tank</th>
      <th>Rating</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
               <td><%= @tanks.find(rating.tank_id).name %></td>
        <td><%= rating.rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if (current_user == @user) %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
